<article class="blog">
    <h1 class="header">Blog</h1>
    <section class="main">
       
    </section>
<article>




<style>
    .header{
        opacity: 0.5;
        font-size: 0.875rem;
        grid-row:1/2;
    }
    .main{
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-row:2/3;
        align-items: center;
        justify-items: center;
        gap: 1px;
    }
    .blog{
        display:grid;
        width:95%;
        height:100%;
        padding:5px 8% 5% 8%;
        grid-template-rows:20% 80%;
    }
 
</style>