---
import Linkedin from "./Icons/Linkedin2.astro"
import Github from "./Icons/Github.astro"
import Email from "./Icons/Email.astro"
import Twitter from "./Icons/x(twitter).astro"
import Instagram from "./Icons/Instagram.astro"
import Discord from "./Icons/Discord.astro"
import Facebook from "./Icons/Facebook.astro"
import Whatsapp from "./Icons/Whatsapp.astro"
---

<article class="contacto">
    <h1 class="header">Contacto</h1>
    <section class="main">
        <Linkedin/>
        <Github/>
        <Email/>
        <Twitter/>
        <Instagram/>
        <Facebook/>
        <Discord/>
        <Whatsapp/>
    </section>
<article>




<style>
    .header{
        opacity: 0.5;
        font-size: 0.875rem;
        grid-row:1/2;
    }
    .main{
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-row:2/3;
        align-items: center;
        justify-items: center;
        gap: 1px;
    }
    .contacto{
        display:grid;
        width:95%;
        height:100%;
        padding:5px 8% 5% 8%;
        grid-template-rows:20% 80%;
    }
 
</style>