---
---
<article class="sobreMi">
    <h1 class="header">Sobre mi...</h1>
    <section class="main">
        <p id="Frase1">Soy de Alginet, un municipio de Valencia, aunque desde hace 7 años resido en Calpe, Alicante.</p>
        <p id="Frase2">Soy un desarrollador web que le encanta aprender cosas nuevas y que le apasiona la tecnología.</p>
        <p id="Frase3">Me considero una persona muy curiosa,autodidacta y perfeccionista..</p>
        <p id="Frase4">Mis aficiones son: leer, la música, ver series, pescar, jugar al padel...</p>
        
    </section>
    <section class="footer-redes">
    </section>
<article>




<style>
    .header{
        opacity: 0.5;
        grid-row:1/2;
    }
    .main{
        grid-row:2/3;
    }
    .sobreMi{
        display:grid;
        width:95%;
        height:100%;
        padding:2.5%;
        grid-template-rows:20% 60% 20%;
    }
 
</style>
 